@model Producto

@{
    ViewData["Title"] = "Crear Producto nuevo";
}

<h3>@ViewData["Title"]</h3>
<hr />
<form asp-action="Crear">
    <div class="container">
        <div class="mb-2">
            <label asp-for="Nombre" class="form-label"></label>
            <input asp-for="Nombre" class="form-control"/>
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Precio" class="form-label"></label>
            <input asp-for="Precio" class="form-control" />
            <span asp-validation-for="Precio" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Cantidad" class="form-label"></label>
            <input asp-for="Cantidad" class="form-control" />
            <span asp-validation-for="Cantidad" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Categorias" class="form-label"></label>
            <select asp-for="CategoriaId" asp-items="ViewBag.Categorias" class="form-select">
                <options>--Seleccione Categoría--</options>
            </select>
        </div>
        <div class="mb-2">
            <input type="submit" value="Crear" class="btn btn-success"/>
        </div>
    </div>
</form>
